[submodule "isomorphic-git"]
    path="isomorphic-git"
    url=https://github.com/adamziel/isomorphic-git.git
[submodule "kandelo"]
	path = kandelo
	url = https://github.com/Automattic/kandelo.git
	branch = main
